* {
  box-sizing: border-box;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container img {
  width: 10vmin;
  height: 10vmin;
  margin-right: 1vmin;
}
header .container h1 {
  margin-left: 1vmin;
}
section #generalInfo > div {
  display: inline-block;
}
section #generalInfo > div label {
  display: flex;
  justify-content: space-between;
}
section #generalInfo > div label input {
  margin-left: 1vmin;
  width: 0;
  display: block;
  padding: 0;
  border-width: 0;
}
section #generalInfo > div label input:focus {
  width: 100%;
  border-width: 1px;
}
