.size(@width, @height) {
  width: @width;
  height: @height;
}

* {
  box-sizing: border-box;
  //border: solid red 1px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    .size(10vmin; 10vmin);
    margin-right: 1vmin;
  }

  & h1{
    margin-left: 1vmin;
  }
}

section {

  & #generalInfo {
    display: flex;
    align-items: center;
  }

  & #generalInfo > div:not(.photo) {
    display: grid;
    grid-template-columns: 1fr 2fr;

    & label {
      display: flex;
      justify-content: space-between;
      width: 100px;
    }

    & input {
      width: 0;
      display: block;
      padding: 0;
      transition-property: width;
      transition-duration: 2s;
      outline: none;
      border: none;
      border-bottom: 2px solid green;
    }

    & input:focus,
    & input.active {
      width: 100%;
    }

    & div:last-of-type {
      display: grid;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-template-columns: 1fr 2fr;
    }
  }

  & #generalInfo .photo{
    .size(20vmin, 25vmin);
    background-image: url('./images/emptyAvatar.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    & label {
      display: block;
      .size(100%, 100%);

      input {
        display: none;
      }
    }
  }
}