.size(@width, @height) {
  width: @width;
  height: @height;
}

@emptyAvatar: './images/emptyAvatar.jpg';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: solid red 1px;
}

#root {
  .size(100%, 100%)
}

header {
  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    & img {
      .size(10vmin; 10vmin);
      margin-right: 1vmin;
    }
  
    & h1{
      margin-left: 1vmin;
    }
  }
}

/* #templateCV {
  & section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & form {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .infoBlocks {
        display: flex;

        & ul {
          display: flex;
          flex-direction: column;

          & > li {
            display: grid;
            grid-template-columns: 0.8fr 2.2fr;

            & label {
              display: flex;
              align-items: center;
            }

            & div {//
              grid-column-start: 2;
              grid-column-end: -1;
              grid-row-start: 1;
              grid-row-end: 2;
            }

            & input {
              background-image: linear-gradient(90deg, red, red);
              background-position: left bottom;
              background-repeat: no-repeat;
              background-origin: border-box;
              background-size: 0 2px;
              display: block;
              padding: 5px;
              transition-property: background-size;
              transition-duration: 1.5s;
              outline: none;
              border: none;
            }

            & input:focus,
            & input.active {
              background-size: 100% 2px;
            }
          }
        }
      }
  
      & .photo{
        .size(20vmin, 25vmin);
        background-image: url(@emptyAvatar);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      
        & label {
          display: block;
          .size(100%, 100%);
      
          & input {
            display: none;
          }
        }
      }
    }

    & > ul {
      list-style-type: none;

      & li {
        display: grid;
        grid-template-columns: 1fr 2fr;

        & label {
          display: block;
          max-width: 110px; 
        }
      }
    }
  }

  & section.expBlock {
    & ul.specialStyleKit > li {
      display: flex;
      flex-direction: column;

      & li {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  .error {
    &::before {
      content: 'The field can\'t be empty.';
      grid-column-start: 2;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 2;
      z-index: 1;
      background: red;
    }
  }

  input {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  textarea {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
} */

#templateCV {
  & section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & form {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .infoBlocks {
        display: flex;

        & ul {
          display: flex;
          flex-direction: column;

          & > li {
            display: grid;
            grid-template-columns: 0.8fr 2.2fr;

            & label {
              display: flex;
              align-items: center;
            }

            & div {
              grid-column-start: 2;
              grid-column-end: -1;
              grid-row-start: 1;
              grid-row-end: 2;
              position: relative;

              #cityName {
                position: absolute;
                width: 100%;
                background: rgb(182, 182, 182);
              
                li {
                  display: block;
                  cursor: pointer;
                  padding: 1vmin;

                  &:hover {
                    background: rgb(129, 129, 129);
                  }
                }
              }
            }

            & input:focus,
            & input.active {
              animation-name: changeBackgroundPosition;
              animation-duration: 2s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
  
      & .photo{
        .size(20vmin, 25vmin);
        background-image: url(@emptyAvatar);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      
        & label {
          display: block;
          .size(100%, 100%);
      
          & input {
            display: none;
          }
        }
      }
    }

    & > ul {
      list-style-type: none;

      & li {
        display: grid;
        grid-template-columns: 1fr 2fr;

        & label {
          display: block;
          max-width: 110px; 
        }
      }
    }
  }

  & section.expBlock {
    & ul.specialStyleKit > li {
      display: flex;
      flex-direction: column;

      & li {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  .error {
    &::before {
      content: 'The field can\'t be empty.';
      grid-column-start: 2;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 2;
      z-index: 1;
      color: red; 
    }

    input:not([type*=button]) {
      animation-name: changeBackgroundPositionWhileError;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
    
    /* input:not([type*=button]) {
      animation-name: changeBackgroundPositionWhileError;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    } */
  }

  input:not([type*=button]) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;

    background-image: linear-gradient(90deg, red 50%, red 50%),
                      linear-gradient(90deg, green 50%, black 50%);
    background-repeat: no-repeat, no-repeat;   
    background-size: 200% 2px, 200% 2px;
    background-position: 200% 100%, 100% 100%;
    //background-position: @backgroundPosition;
    /* transition-duration: 2s;
    transition-property: background-position; */

    //background-position: @backgroundPosition3;

    //background-position: @backgroundPosition;               
    /* background-size: 200% 2px, 200% 2px;
    background-repeat: no-repeat, no-repeat; */

    animation-name: changeBackgroundPositionTrue;
    animation-duration: 2s;
    animation-fill-mode: forwards;




    /* background-image: linear-gradient(90deg, red calc(100% / 3), green calc(100% / 3) calc(100% / 3 + 100% / 3), black calc(100% / 3 + 100% / 3));
    background-position: 100% 100%;
    background-size: 300% 2px;
    background-repeat: no-repeat; */

    margin-bottom: 5px;
    display: block;
    padding: 5px;
    outline: none;
    border: none;
  }

  input:not([type*=button]).afterError {
    animation-name: changeBackgroundPositionAfterError !important;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  input:not([type*=button]).validValue {
    animation-name: changeBackgroundPositionValidValue !important;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  textarea {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/* #cityName {
  position: absolute !important;
  background: white;

  li {
    display: block !important;
  }
} */

  /* @backgroundPosition1: 200% 100%, 100% 100%;  // чёрное подчёркивание
@backgroundPosition2: 200% 100%, 0% 100%;   //  меняет чёрный на зелёный
@backgroundPosition3: 100% 100%, 0% 100%;   // меняет зелёный на красный   //
@backgroundPosition4: 200% 100%, 0% 100%;   // меняет красный на зелёный  */

@backgroundPosition: 200% 100%, 100% 100%;


@keyframes changeBackgroundPosition {
  to {
    //background-position: 200% 100%, 0% 100%;
    background-position: 200% 100%, 0% 100%; ;
    //background-position: @backgroundPosition;
  }
}

@keyframes changeBackgroundPositionWhileError {
  from {
    background-position: 200% 100%, 0% 100%;
  }
  to {
    background-position: 100% 100%, 0% 100%;
  }
}

@keyframes changeBackgroundPositionAfterError {
  from {
    background-position: 100% 100%, 0% 100%;
  }

  to {
    background-position: 200% 100%, 0% 100%;
  }
}

@keyframes changeBackgroundPositionValidValue {
  from {
    background-position: 200% 100%, 0% 100%;;
  }

  to {
    background-position: 200% 100%, 100% 100%;
  }
}

/* @background: red;
@backgroundPosition1: 200% 100%, 100% 100%;  // чёрное подчёркивание
@backgroundPosition2: 200% 100%, 0% 100%;   //  меняет чёрный на зелёный
@backgroundPosition3: 100% 100%, 0% 100%;   // меняет зелёный на красный   //
@backgroundPosition4: 200% 100%, 0% 100%;   // меняет красный на зелёный 

// @backgroundPosition2: 200% 100%, 0% 100%;  === @backgroundPosition3: 200% 100%, 0% 100%; 

@keyframes changeBackgroundPositionTrue {
  from {
    background-position: @backgroundPosition1;
  }
  to {
    background-position: @backgroundPosition1;
  }
}

@keyframes changeBackgroundPosition {
  from {
    background-position: @backgroundPosition1;  /// @backgroundPosition1 and @backgroundPosition3
  }
  to {
    background-position: @backgroundPosition2;  // меняет чёрный на зелёный
  }
}

@keyframes changeBackgroundPositionWhileError {
  from {
    background-position: @backgroundPosition2;
  }
  to {
    background-position: @backgroundPosition3;   // меняет зелёный на красный
  }
} */

/* @keyframes changeBackgroundPositionTrue {
  to {
    background-position: 200% 100%, 100% 100%;
  }
} */

/* @keyframes changeBackgroundPositionTrue {
  from {
    background-position: 200% 100%, 0% 100%;
  }

  to {
    background-position: 200% 100%, 100% 100%;
  }
} */

/* @keyframes changeBackgroundPosition {
  to {
    background-position: 50% 100%;
  }
}

@keyframes changeBackgroundPositionWhileError {
  from {
    background-position: 50% 100%;
  }

  to {
    background-position: 0% 100%;
  }
}

@keyframes changeBackgroundPositionAfterError {
  from {
    background-position: 0% 100%;
  }

  to {
    background-position: 50% 100%;
  }
} */

#previewCV {
  margin-top: 4vmax;
  display: flex;

  & #commonInformation {
    width: 60vw;
  }

  & #educationalExperience {
    display: flex;
    flex-direction: column;
    align-items: center;

    & ul {
      list-style: none;
      flex-grow: 1;
      
      & li {
        display: grid;
        grid-template-columns: 1fr 2fr;

        & label {
          display: flex;
          align-items: center;
        }
      }

      & .EducExpBlock {
        display: flex;
        flex-direction: column;
        & li {
          display: grid;
          grid-template-columns: 1fr 2fr;

          & label {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  & #personalInformation {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    & #photoBlock {
      @currentWidth: 25vw;

      .size(@currentWidth, @currentWidth * 1.5);
      //background-image: url(@emptyAvatar);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    & ul {
      list-style-type: none;

      & li {
        display: flex;
        
        & label {
          flex-grow: 1;
        }

        & input {
          outline: none;
          border: none;
          border-bottom: solid black 1px;
        }
      }
    }
  }
}