* {
  box-sizing: border-box;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container img {
  width: 10vmin;
  height: 10vmin;
  margin-right: 1vmin;
}
header .container h1 {
  margin-left: 1vmin;
}
section #generalInfo {
  display: flex;
}
section #generalInfo > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section #generalInfo > div label {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
section #generalInfo > div input {
  width: 0;
  display: block;
  padding: 0;
  border-width: 0;
  transition-property: width;
  transition-duration: 2s;
  outline: none;
  border: none;
}
section #generalInfo > div input:focus,
section #generalInfo > div input.active {
  width: 100%;
  border-bottom: 2px solid green;
}
